@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Nunito';
}

html,
body {
	scroll-behavior: smooth;
}

body::-webkit-scrollbar-track {
	background-color: #f5f5f5;
}

body::-webkit-scrollbar {
	width: 5px;
	background-color: #f6f5f2;
}

body::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 6px;
}

.swiper-pagination-bullet-active {
	background-color: #f73486 !important;
}
